.SectionHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SectionHeading h4{
    color: #ccc;
}
.SectionHeading h1{
    font-size: 50px;
    color: white;
    text-align: center;
}
.SectionHeading h1 span{
    font-weight: bolder;
    background: linear-gradient(to right, #9d025d, #BC901A, #9d025d);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px transparent;
}